venv
.vscode
.DS_Store
data/MBTI500.ENFJ.all.words.count.sorted.20.txt
data/MBTI500.ENFJ.all.words.count.sorted.30.txt
data/MBTI500.ENFJ.all.words.count.sorted.40.txt
data/MBTI500.ENFJ.all.words.count.sorted.50.txt
data/MBTI500.ENFJ.all.words.count.sorted.txt
data/MBTI500.ENFJ.all.words.txt
data/MBTI500.ENFJ.dict.txt
data/MBTI500.ENFJ.txt
data/MBTI500.ENFP.all.words.count.sorted.20.txt
data/MBTI500.ENFP.all.words.count.sorted.30.txt
data/MBTI500.ENFP.all.words.count.sorted.40.txt
data/MBTI500.ENFP.all.words.count.sorted.50.txt
data/MBTI500.ENFP.all.words.count.sorted.txt
data/MBTI500.ENFP.all.words.txt
data/MBTI500.ENFP.dict.txt
data/MBTI500.ENFP.txt
data/MBTI500.ENTJ.all.words.count.sorted.20.txt
data/MBTI500.ENTJ.all.words.count.sorted.30.txt
data/MBTI500.ENTJ.all.words.count.sorted.40.txt
data/MBTI500.ENTJ.all.words.count.sorted.50.txt
data/MBTI500.ENTJ.all.words.count.sorted.txt
data/MBTI500.ENTJ.all.words.txt
data/MBTI500.ENTJ.dict.txt
data/MBTI500.ENTJ.txt
data/MBTI500.ENTP.all.words.count.sorted.20.txt
data/MBTI500.ENTP.all.words.count.sorted.30.txt
data/MBTI500.ENTP.all.words.count.sorted.40.txt
data/MBTI500.ENTP.all.words.count.sorted.50.txt
data/MBTI500.ENTP.all.words.count.sorted.txt
data/MBTI500.ENTP.all.words.txt
data/MBTI500.ENTP.dict.txt
data/MBTI500.ENTP.txt
data/MBTI500.ESFJ.all.words.count.sorted.20.txt
data/MBTI500.ESFJ.all.words.count.sorted.30.txt
data/MBTI500.ESFJ.all.words.count.sorted.40.txt
data/MBTI500.ESFJ.all.words.count.sorted.50.txt
data/MBTI500.ESFJ.all.words.count.sorted.txt
data/MBTI500.ESFJ.all.words.txt
data/MBTI500.ESFJ.dict.txt
data/MBTI500.ESFJ.txt
data/MBTI500.ESFP.all.words.count.sorted.20.txt
data/MBTI500.ESFP.all.words.count.sorted.30.txt
data/MBTI500.ESFP.all.words.count.sorted.40.txt
data/MBTI500.ESFP.all.words.count.sorted.50.txt
data/MBTI500.ESFP.all.words.count.sorted.txt
data/MBTI500.ESFP.all.words.txt
data/MBTI500.ESFP.dict.txt
data/MBTI500.ESFP.txt
data/MBTI500.ESTJ.all.words.count.sorted.20.txt
data/MBTI500.ESTJ.all.words.count.sorted.30.txt
data/MBTI500.ESTJ.all.words.count.sorted.40.txt
data/MBTI500.ESTJ.all.words.count.sorted.50.txt
data/MBTI500.ESTJ.all.words.count.sorted.txt
data/MBTI500.ESTJ.all.words.txt
data/MBTI500.ESTJ.dict.txt
data/MBTI500.ESTJ.txt
data/MBTI500.ESTP.all.words.count.sorted.20.txt
data/MBTI500.ESTP.all.words.count.sorted.30.txt
data/MBTI500.ESTP.all.words.count.sorted.40.txt
data/MBTI500.ESTP.all.words.count.sorted.50.txt
data/MBTI500.ESTP.all.words.count.sorted.txt
data/MBTI500.ESTP.all.words.txt
data/MBTI500.ESTP.dict.txt
data/MBTI500.ESTP.txt
data/MBTI500.INFJ.all.words.count.sorted.20.txt
data/MBTI500.INFJ.all.words.count.sorted.30.txt
data/MBTI500.INFJ.all.words.count.sorted.40.txt
data/MBTI500.INFJ.all.words.count.sorted.50.txt
data/MBTI500.INFJ.all.words.count.sorted.txt
data/MBTI500.INFJ.all.words.txt
data/MBTI500.INFJ.dict.txt
data/MBTI500.INFJ.txt
data/MBTI500.INFP.all.words.count.sorted.20.txt
data/MBTI500.INFP.all.words.count.sorted.30.txt
data/MBTI500.INFP.all.words.count.sorted.40.txt
data/MBTI500.INFP.all.words.count.sorted.50.txt
data/MBTI500.INFP.all.words.count.sorted.txt
data/MBTI500.INFP.all.words.txt
data/MBTI500.INFP.dict.txt
data/MBTI500.INFP.txt
data/MBTI500.INTJ.all.words.count.sorted.20.txt
data/MBTI500.INTJ.all.words.count.sorted.30.txt
data/MBTI500.INTJ.all.words.count.sorted.40.txt
data/MBTI500.INTJ.all.words.count.sorted.50.txt
data/MBTI500.INTJ.all.words.count.sorted.txt
data/MBTI500.INTJ.all.words.txt
data/MBTI500.INTJ.dict.txt
data/MBTI500.INTJ.txt
data/MBTI500.INTP.all.words.count.sorted.20.txt
data/MBTI500.INTP.all.words.count.sorted.30.txt
data/MBTI500.INTP.all.words.count.sorted.40.txt
data/MBTI500.INTP.all.words.count.sorted.50.txt
data/MBTI500.INTP.all.words.count.sorted.txt
data/MBTI500.INTP.all.words.txt
data/MBTI500.INTP.dict.txt
data/MBTI500.INTP.txt
data/MBTI500.ISFJ.all.words.count.sorted.20.txt
data/MBTI500.ISFJ.all.words.count.sorted.30.txt
data/MBTI500.ISFJ.all.words.count.sorted.40.txt
data/MBTI500.ISFJ.all.words.count.sorted.50.txt
data/MBTI500.ISFJ.all.words.count.sorted.txt
data/MBTI500.ISFJ.all.words.txt
data/MBTI500.ISFJ.dict.txt
data/MBTI500.ISFJ.txt
data/MBTI500.ISFP.all.words.count.sorted.20.txt
data/MBTI500.ISFP.all.words.count.sorted.30.txt
data/MBTI500.ISFP.all.words.count.sorted.40.txt
data/MBTI500.ISFP.all.words.count.sorted.50.txt
data/MBTI500.ISFP.all.words.count.sorted.txt
data/MBTI500.ISFP.all.words.txt
data/MBTI500.ISFP.dict.txt
data/MBTI500.ISFP.txt
data/MBTI500.ISTJ.all.words.count.sorted.20.txt
data/MBTI500.ISTJ.all.words.count.sorted.30.txt
data/MBTI500.ISTJ.all.words.count.sorted.40.txt
data/MBTI500.ISTJ.all.words.count.sorted.50.txt
data/MBTI500.ISTJ.all.words.count.sorted.txt
data/MBTI500.ISTJ.all.words.txt
data/MBTI500.ISTJ.dict.txt
data/MBTI500.ISTJ.txt
data/MBTI500.ISTP.all.words.count.sorted.20.txt
data/MBTI500.ISTP.all.words.count.sorted.30.txt
data/MBTI500.ISTP.all.words.count.sorted.40.txt
data/MBTI500.ISTP.all.words.count.sorted.50.txt
data/MBTI500.ISTP.all.words.count.sorted.txt
data/MBTI500.ISTP.all.words.txt
data/MBTI500.ISTP.dict.txt
data/MBTI500.ISTP.txt
data/MBTI500.all.type.txt
data/MBTI500.all.words.count.sorted.txt
data/MBTI500.all.words.count.txt
data/MBTI500.all.words.txt
data/MBTI500.csv
data/MBTI500.data.txt
data/MBTI500.txt

